.SellerScreen {

	&-tab {
		display: flex;
		&-button {
			width: 50%;
			text-align: center;
			padding: 10px;
			border: 0;
			&-active {
				background-color: #deb887;
				font-weight: bold;
			}
		}
	}
}