.SellerScreen {

	&-tab {
		display: flex;
		justify-content: space-evenly;
		margin: 10px 0;
		&-button {
			width: 40%;
			height: 100px;
			// margin: 20px;
			background-color: lightgrey;
			border-radius: 25px;
			&-active {

			}
		}
	}
}