.homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: inherit;
  position: inherit;


  &-luggage {
    display: flex;
    margin: 20px 20px;
    justify-content: space-between;
    align-content: center;
    &-buttons {
      width: 45%;
      padding: 10px;
      font-family: "Futura";
      font-size: large;
      background-color: #ffffffcc;
      border: 0;
      border-radius: 10px;
    }
  }

  &-reservation-buttons {
      width: 90%;
      padding: 10px;
      font-family: "Futura";
      font-size: large;
      background-color: #ffffffcc;
      border: 0;
      border-radius: 10px;
  }
}
