.homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffffcc;
  border: 0;
  border-radius: 10px;
  margin: 20px;

  &-buy {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 10px;
    padding: 10px;
    border-right: 1px solid #007275;
    &-img{
      height: 150px;
      width: 100px;
    }
    &-buttons {
      width: 100px;
      margin: 10px;
      padding: 10px;
      font-family: "Futura";
      font-size: large;
      background-color: black;
      color: white;
      border: 0;
      border-radius: 10px;
      &-grey {
        background-color: #deb887;
        color: black;
      }
    }
  }
  &-sell {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-content: center;
    &-img{
      height: 150px;
      width: 100px;
    }
    &-buttons {
      width: 100px;
      margin: 10px;
      padding: 10px;
      font-family: "Futura";
      color: white;
      font-size: large;
      background-color: black;
      border: 0;
      border-radius: 10px;
      &-grey {
        background-color: #deb887;
        color: black;
      }
    }
  }
}
