.homepage{
	&-title {
		color: black;
		font-size: 46px;
		margin: 23px 0;
	}
	&-container {
		display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(50vh - 108px);
	}
  &-luggage {
  	&-buttons {
  		background: #000;
  	border: black solid 2px;
  	color: #fff;
  	margin: 5px;
  	height: 25vh;
  	}
  }
  &-reservation {
  	&-buttons {
  		background: #28b463;
  		color: #fff;
  		height: 10vh;
  		width: 100px;
  		margin: auto;
  	}
  }
}