.title {
  display:flex;
  text-align: center;
  padding: 20px;
}

.listing-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0;
  background-color: #ffffffcc;
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px;
  width: 350px;
  &-header{
    font-size: large;
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
  }
  &-field {
    display: inline-flex;
    font-size: large;
    align-items: center;
    &-label {
      width: 150px;
      text-align: right;
      padding: 20px 20px 20px 0;
    }

    &-input {
      font-size: medium;
      border: 0;
      border-radius: 5px;
      padding: .5em;
      background-color: #ffffffe6;
      height: 40px;
      width: 150px;
    }
  }
  &-button {
    margin: 5px 10%;
    background-color: black;
    border-radius: 30px;
    padding: 10px;
    width: 80%;
    border: 0;
    font-size: large;
    color: white
  }

}
