.flight-search {
    margin: 0 0 .5em 0;
    &-container {
        display: flex;
    }
    &-input {
        font-family: "Futura";
        outline: solid black 1px;
        padding: .5em;
        margin: .5em;
        &--half {
            width: 50%;
        }
        &--third {
            width: 33%;
        }
        &--twothird {
            width: 60%;
        }
    }
}