.shelf-item {
  color: black;
  font-family: verdana;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px auto;
  width: 70%;
  background: rgba(255, 255, 255, 0.5);

  &-flight {
    &-location-and-time {
      margin: 15px;
    }
  }

  &-user {
    //float:right;
  }
}

.shelf-item-book-btn {
  color: white;
  background-color: black;
  border-radius: 10px;
  border: 0;
  height: 30px;
  width: 80px;
}

;
