.titleStyling {
	margin-left: 130px;
}

.logInForm {
	display: flex;
	background-color: #ffffffcc;
	border-radius: 10px;
	padding: 20px;
	width: 350px;
	margin: 10px;
}

.signInForm {
	display: flex;
	background-color: #ffffffcc;
	border-radius: 10px;
	padding: 20px;
	width: 350px;
	margin: 10px;
}

.formItem {
	width: 80%;
}

.buttonStyling {
	background-color: #4CAF50;
  	border: none;
  	color: white;
  	padding: 10px 15px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin-top: 5px;
}