* {
  box-sizing: border-box;
}

.app {
  // outline: solid black 1px;
  font-family: "Futura";
  button {
    padding: 10px;
    margin: 10px;
    border: solid black 1px;
    border-radius: 1px;
    background: rgb(240, 238, 246);

    font-family: "Futura";
  }
  button:hover {

  }
}
